<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Text Detection from IMG</title>
  <link rel="icon" href="/img.ico">
  <script src="javascript.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="style.css">
 <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> 
    </script>
</head>
<body>
<div class = "container">

    <div class = "starter-template">
        
        <h1><strong>Text Detection</strong> from image</h1>
    </div>
</div>
  <br>
    <hr class="rgba-white-light" style="margin: 0 15%;"><br>
    <form action="/upload" method="post" enctype="multipart/form-data" >
      <div class="section over-hide z-bigger">
      <div class="container pb-5">
        <div class="row justify-content-center pb-5">
          
          <div class="col-12 pt-1">
            <p class="mb-4 pb-2">Select Language</p>
          </div>
          <div class="col-xl-10 pb-5">
            
            <input class="checkbox-budget" type="radio" name="budget" id="budget-4" value="option1" checked="checked">
            <label class="for-checkbox-budget" for="budget-4">              
              <span data-hover="English">English</span>
            </label><!--
            --><input class="checkbox-budget" type="radio" name="budget" id="budget-5" value="option2">
            <label class="for-checkbox-budget" for="budget-5">              
              <span data-hover="हिंदी">हिंदी</span>
            </label>
            <input class="checkbox-budget" type="radio" name="budget" id="budget-6" value="option3">
            <label class="for-checkbox-budget" for="budget-6">              
              <span data-hover="मराठी">मराठी</span>
            </label>
          </div>
        </div>
      </div>  
    </div>
 <div class="login">
     <!-- Main Input For Receiving Query to our ML -->    
        <div align="center">
          <div class="infobox">
            <div class="col-12 pt-1">
            <p class="mb-4 pb-2">Select Image</p>
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" class="center" width="75px">
                   <p id="GFG_DOWN" style= 
        "color:#f0e130; font-size: 15px; font-weight: bold;"> 
    </p>            
          </div>
		  <div class="col-sm-12" style="font-size: 11px"><label class="btn-bs-file btn btn-sm btn-primary" style="color:white">
                <strong>Browse Image</strong>
          <input type="file" id="File" name="image" accept="image/*" style="display:none" required> </label></div>
          <br><br>
		  <div class="text-center"><p style="font-size:13px"> Please make sure your file is less than 2 MB.</p></div> <br>
            </div>
    <script> 
        $('#GFG_UP').text("Choose file from system to get the fileSize"); 
        $('#File').on('change', function() { 
            if (this.files[0].size > 2097152) { 
                alert("Try to upload file less than 2MB!"); 
            } else { 
                $('#GFG_DOWN').text(this.files[0].name); 
            } 
        }); 
    </script>	
		<div class="col-sm-3" style="position: absolute;
  width: 300px;
  z-index: 15;

  left: 50%;
  margin: -10px 0 0 -150px;">
            <input type="submit" value="Process" class="btn btn-success btn-lg btn-block"   style="font-weight:bold;font-size:25px;color:#000000;"></div>
        </div>
    </form>
   </div>
   <br>
   <br>
 <div class="text-center">
    {% if init %}
        {% if textDetected %}
      <div class="alert alert-success" style="margin-top:18px;">
                <strong>Success!!</strong> Detected Text.
            </div>
            <div id="wrapper">
        <form id="paper" method="get" action="">
            <textarea id="text" name="text" rows="10" cols="75">{{ prediction_text }}</textarea>  
            
          </form>
          <br>
          <div id="margin"><strong>Text might contain some errors.</strong></div>
          <div id="margin"><strong> It can be edited as well as can be copied from here. Also, You might need to scroll down if image contain more than 10 lines of text.</strong></div>
      </div>
      <div class="alert alert-success" style="margin-top:10px;">
                <strong>-- Uploaded Image --</strong>
            </div>
            {% if image_to_show %}
                <div>
                    <img src="{{ image_to_show }}" class="img-responsive" alt="Chania" width="80%">
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>Sorry!</strong> No text Detected.
            </div>
      <div id="margin"><p>Feel free to upload different image.</div>
        {% endif %}
    {% endif %}
</div>
<footer  class="page-footer font-small indigo">
<style>.heart{color:#ff0000;}</style>
    <br>
    <hr class="rgba-white-light" style="margin: 0 15%;"><br>  
    <div class="text-center"><h3><strong>Made for CV Project.</strong></h3><br><a href = "mailto:yash@gmail.com?subject=Feedback" style="color: white;text-decoration: none; text-align: center;" class="btn btn-info"><strong>Send Feedback</strong></a></div>
  <br>
</footer> 
</body>
</html>
